@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", serif;
}

@layer utilities {
  .nav-container {
    @apply border-b border-gray-400 bg-medium-blue text-white w-full flex items-center justify-between md:justify-start md:gap-14 xl:gap-16 flex-grow px-2 py-3 xl:px-4 xl:py-5;
  }
  .nav-button {
    @apply px-4 py-2 bg-white bg-opacity-20 font-medium text-sm xl:text-lg rounded-md;
  }
  .project-menu {
    @apply bg-dark-blue text-white px-4 py-5 xl:px-4 xl:py-5 flex items-center justify-between md:gap-14 xl:gap-28 md:justify-start;
  }
  .card-container {
    @apply bg-light-blue px-2 py-3 xl:px-4 xl:py-5 border border-gray-400 border-t-0 grid col-span-1 gap-8 lg:gap-4 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
}
